/* General body styling */
body {
	background-color: #f8f8f8;
	text-align: center;
}

.book-library h3 {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
}

.book {
	background-color: #ffffff;
	padding: 20px;
	margin-bottom: 20px;
}

.book h2 {
	text-align: left;
	margin-bottom: -10px;
	margin-left: 1px;
}

.book p {
	color: rgb(119, 119, 119);
	text-align: left;
	margin-bottom: 5px;
	margin-left: 3px;
}

.book-library .book div {
	background-color: rgb(46, 204, 113);
	border: none;
	padding: 10px;
	width: 550px;
	color: white;
}

.book-library {
	width: 600px;
	box-shadow: 0 3px 5px #939185;
}

img {
	/* margin-bottom: -30px; */
}

