body {
    background-color: #f8f8f8;
}

.book-library {
    box-shadow: 0 3px 5px black;
    width: 700px;
}

.book-library-heading {
    text-align: center;
    background-color: #ffffff;
    margin-bottom: 15px;
    height: 30px;
    font-weight: bold;
    padding-top: 8px;
}

.book {
    background-color: rgb(46, 204, 113); /* Apply background directly to .book */
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    line-height: 10px;
    border-radius: 5px; /* Rounded corners */
}

.para {
    color: rgb(119, 119, 119); /* Author text color */
    text-align: left;
}

.btn {
    background-color: rgb(46, 204, 113);
    width: 670px;
    padding: 7px;
    border: none;
    color: white;
}

.heading {
    text-align: left;
    color: rgb(255, 255, 255); /* White color for book titles */
}
